@using Filmster.Data
@model Movie

@{
    ViewBag.Title = "Lej »" + @Model.Title + "« online";
    ViewBag.Description = "filmster samler alle steder hvor du kan leje \"" + @Model.Title + "\" online. Sammenlign priser og find den udlejer der passer dig bedst.";
}

<section class="block details">
    <h1>Lej "@Model.Title" på nettet</h1>
    <p>
        filmster.dk viser alle de steder, hvor du kan se @Model.Title on demand.
    </p>
    <img class="cover" src="/CoverHandler.ashx?id=@Model.Id&w=180" alt="@Model.Title"/>
    <p>@Model.Plot</p>
</section>

@if (Model.Id == 1272)
{
    <aside class="block">
        <p><b>Ikke den Klassefesten?</b> Leder du efter Klassefesten med Lene Nystrøm, Anders W. Berthelsen og Nicolaj Kopernikus? 
        Den kommer først i slutningen af februar. "Synes godt om" <a href="https://www.facebook.com/filmsterdk" >www.facebook.com/filmsterdk</a> på facebook, og få besked når der dukke nye populære film op.</p>
        <div>
            <div class="fb-like" data-href="https://www.facebook.com/filmsterdk" data-send="false" data-width="30" data-show-faces="false" data-layout="button_count"></div>
        </div>
    </aside>
}

<section class="block">
    <h2>Her kan du leje "@Model.Title" online</h2>
    <p> 
        Find den Video on Demand udbyder og pris som passer dig bedst - på listen ser du alle de websites, hvor du kan leje "@Model.Title" på nettet. 
    </p>
        <table>
            <tr>
                <th>Udlejer</th>
                <th>HD</th>
                <th>Pris</th>
                <th>Lej</th>
            </tr>
            @foreach (var rentalOption in Model.RentalOptions.OrderBy(r => r.HighDefinition).ThenBy(r => r.Price).ThenBy(r => r.Vendor.Name))
            {
                <tr>
                    <td>@rentalOption.Vendor.Name</td>
                    <td>@Html.Raw((rentalOption.HighDefinition ? "<b>Ja<b/>" : "-"))</td>
                    <td>@rentalOption.Price,-</td>
                    <td class="rent-column"><a href="/lej/@rentalOption.Id" data-vendorname="@rentalOption.Vendor.Name" data-moviename="@Model.Title" rel="nofollow" title="Lej @rentalOption.Movie.Title hos @rentalOption.Vendor.Name">Lej hos @rentalOption.Vendor.Name »</a></td>
                </tr>
            }
        </table>
        @if (Model.RentalOptions.Any(r => r.Price >= 50))
        {
            <p>
                <small>Hvis prisen er mere end 50 kr. 
                er det typisk prisen for at købe fillmen, så den er din for altid, eller prisen for et abonnement, hvor flere film er inkluderet.</small>
            </p>
        }
 </section>