@using Filmster.Data
@model Movie

@{
    ViewBag.Title = "Se »" + @Model.Title + "« online nemt og billigt via filmster";
    ViewBag.Description = "Filmster samler alle steder hvor du kan leje \"" + @Model.Title + "\" online. Sammenlign priser og find den udlejer der passer dig bedst.";
}


<section class="block">
    <h1>Her kan du leje "@Model.Title" online</h1>
    <p> 
        Find den Video on Demand udbyder og pris som passer dig bedst - på listen ser du alle de websites, hvor du kan se "@Model.Title" på nettet. 
    </p>
        <table>
            <tr>
                <th>Udlejer</th>
                <th>HD</th>
                <th>Pris</th>
                <th>Lej</th>
            </tr>
            @foreach (var rentalOption in Model.RentalOptions.OrderBy(r => r.HighDefinition).ThenBy(r => r.Price).ThenBy(r => r.Vendor.Name))
            {
                <tr>
                    <td>@rentalOption.Vendor.Name</td>
                    <td>@Html.Raw((rentalOption.HighDefinition ? "<b>Ja<b/>" : "-"))</td>
                    <td>@rentalOption.Price,-</td>
                    <td class="rent-column"><a href="/lej/@rentalOption.Id" data-vendorname="@rentalOption.Vendor.Name" data-moviename="@Model.Title" rel="nofollow" title="Lej filmen hos @rentalOption.Vendor.Name">Lej hos @rentalOption.Vendor.Name »</a></td>
                </tr>
            }
        </table>
        @if (Model.RentalOptions.Any(r => r.Price >= 50))
        {
            <p>
                <small>Hvis prisen er mere end 50 kr. 
                er det typisk prisen for at købe fillmen, så den er din for altid, eller prisen for et abonnement, hvor flere film er inkluderet i prisen.</small>
            </p>
        }
 </section>

<section class="block details">
    <h2>@Model.Title</h2>
    <img class="cover" src="/CoverHandler.ashx?id=@Model.Id&w=270" alt="@Model.Title"/>
    <p>@Model.Plot</p>
</section>
<section class="block">
    <h2>Andre film fra kataloget</h2>
    @Html.Partial("_ScrollingMovies", ViewBag.OtherMovies as List<Movie>)
</section>
