@using Filmster.Data
@model Movie

@{
    ViewBag.Title = "Se " + @Model.Title + " online for kun " + @Model.RentalOptions.OrderBy(r => r.Price).First().Price + " kr. med filmster";
    ViewBag.Description = "Få et hurtigt overblik over hvor du kan se " + @Model.Title + " via Video On Demand streaming.";
}

<section class="block details">
    <h2>@Model.Title</h2>
    <img class="cover" src="@Model.RentalOptions.First().CoverUrl" alt="@Model.Title"/>
    <p>@Model.Plot</p>
    
</section>

<section class="block">
    <h3>Her kan du streame "@Model.Title"</h3>
    <p>
        Find den udbyder og pris som passer dig bedst. På listen ser du alle de sites hvor du kan leje filmen online. 
    </p>
        <table>
            <tr>
                <th>Udlejer</th>
                <th>HD</th>
                <th>Pris</th>
                <th>Lej</th>
            </tr>
            @foreach (var rentalOption in Model.RentalOptions.OrderBy(r => r.Price))
            {
                <tr>
                    <td>@VendorLogo(rentalOption.Vendor)</td>
                    <td>@Html.Raw((rentalOption.HighDefinition ? "<b>Ja<b/>" : "Nej"))</td>
                    <td>@rentalOption.Price,-</td>
                    <td><a href="@rentalOption.Url" rel="nofollow">Lej »</a></td>
                </tr>
            }
        </table>
        <p>
            Hvis prisen er mere end 50 kr. 
            er det typisk prisen for at købe fillmen, så den er din for altid, eller prisen for et abonnement, hvor flere film er inkluderet i prisen.
        </p>
 </section>

 @helper VendorLogo (Vendor vendor)
{
     var imageName = "";
     switch (vendor.Id)
     {
         case 1:
             imageName = "viaplay.png";
             break;
         case 2:
             imageName = "sputnik.png";
             break;
         case 3:
             imageName = "voddler.png";
             break;
         case 4:
             imageName = "headweb.png";
             break;
         case 5:
             imageName = "sf-anytime.png";
             break;
         case 6:
             imageName = "yousee-tv.png";
             break;
         case 7:
             imageName = "itunes.png";
             break;
         case 8:
             imageName = "cdon.png";
             break;
     }
     <img src="/Content/images/logos/@imageName" height="30" alt="@vendor.Name" title="@vendor.Name" />
}