@using Filmster.Data
@using Filmster.Web.Utils
@model List<Movie>
@{
    ViewBag.Title = "filmster.dk samler alle film der kan streames i Danmark på ét sted";
    ViewBag.Description = "Filmster samler alle Video on Demand tjenester til rådighed i Danmark, og giver dig det bedste overblik over priser, tilgængelighed og Software.";
}
<section class="block quick-search">
    @Html.Partial("_SearchForm", "")
</section>

<section class="block">
    <h2>Giver et hurtigt overblik når du vil leje film online</h2>
    <p>
        Filmster samler alle Video on Demand tjenester på det danske marked, og giver dig det bedste overblik over priser, tilgængelighed og Software, når du vil leje film på nettet.
        <br />Samlingen på mere end 10.000 film og 18.000 lejemuligheder opdateres dagligt, så du sammenligne priser inden du lejer.
    </p>
</section>

<section class="block coverflow">
    @foreach (var movie in Model)
    {
        <div class="movie">
            <a href="@Url.Action("Details", movie.RouteValues())">
            <div class="covermask">
                <img class="cover" src="/CoverHandler.ashx?id=@movie.Id" alt="@movie.Title Cover" />
            </div>
            <p>
                <b>@Html.RouteLink(@movie.Title, movie.RouteValues())</b><br />
                @movie.RentalOptions.OrderBy(r => r.Price).First().Price kr.
            </p>
            </a>
        </div>
    }
</section>