@using Filmster.Data
@using Filmster.Web.Utils
@model List<Movie>
@{
    ViewBag.Title = "Filmster samler alle film der kan streames i Danmark på ét sted";
    ViewBag.Description = "Filmster samler alle Video on Demand tjenerster til rådighed og Danmark, og giver dig det bedste overblik over priser, tilgængelighed og Software.";
}
<section class="block quick-search">
    @Html.Partial("_SearchForm", "")
</section>

<section class="block">
    <h2>Giver et hurtigt overblik når du vil leje film online</h2>
    <p>
        Filmster samler alle Video on Demand tjenester på det danske marked, og giver dig det bedste overblik over priser, tilgængelighed og Software, når du vil leje film på nettet.
        <br />Søg blandt mere end 6.000 film.
    </p>
    @*<p>
        Hvis du ikke har prøvet at streame film online før, kan du læse mere om hvordan man gør, eller prøve at se nogle af de gratis fil, der er til rådighed.
    </p>*@
</section>

<section class="block coverflow">
    @foreach (var movie in Model)
    {
        <div class="movie">
            <div class="covermask">
                <img class="cover" src="/CoverHandler.ashx?id=@movie.Id" alt="@movie.Title Cover" />
            </div>
            <p>
                <b>@Html.RouteLink(@movie.Title, movie.RouteValues())</b><br />
                @movie.RentalOptions.OrderBy(r => r.Price).First().Price kr.
            </p>
        </div>
    }
</section>