@using Filmster.Web.Utils
@using System.Configuration
@{
    Bundles.Reference("Content/scripts");
    Bundles.Reference("Content/styles");
}
<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="description" content="@ViewBag.Description"/>
    <meta property="og:title" content="@ViewBag.Title"/>
    <meta property="og:url" content="@string.Format("http://filmster.dk{0}", Request.Url.AbsolutePath)"/>
    <meta property="og:site_name" content="filmster.dk"/>
    <meta property="fb:app_id" content="311129245565133"/>
    <meta property="og:description" content="@ViewBag.Description"/>
    <meta property="og:locale" content="da_DK"/>
    <meta property="og:type" content="website"/>
    @Bundles.RenderStylesheets()
    <link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Cuprum' rel='stylesheet' type='text/css' />
    @Bundles.RenderScripts()
    @if (ConfigurationManager.AppSettings["Environment"] == "production")
    {
        <script type="text/javascript">

             var _gaq = _gaq || [];
             _gaq.push(['_setAccount', 'UA-27026589-1']);
             _gaq.push(['_trackPageview']);

             (function () {
                 var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                 ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                 var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
             })();

        </script>
    }
</head>
<body>
<div id="fb-root"></div>
    <script>    (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=311129245565133";
            fjs.parentNode.insertBefore(js, fjs);
        } (document, 'script', 'facebook-jssdk'));</script>
		<header class="topbar">
			<div class="wrapper">
            <div class="me"><a href="/">filmster.dk</a></div>
			    <nav>
                    <ul>
                        <li>@Html.ActionLink("Lej film online", "Index", "Filmster")</li>
                        <li>@Html.ActionLink("Filmkatalog", "Catalog", new { id = "a" }, "Filmster")</li>
                        <li>@Html.ActionLink("Om filmster", "About", "Filmster")</li>
                    </ul>
                </nav>
			</div>
		</header>
		<div class="wrapper">
            <menu class="social">
                <div class="fb-like" data-href="https://www.facebook.com/filmsterdk" data-send="true" data-width="30" data-show-faces="false" data-layout="button_count"></div>
            </menu>
            @RenderBody()
            <aside class="boxes">
                <div class="block box left">
                    <h3>Kommentér</h3>
                    <div class="fb-comments" data-href="@string.Format("http://filmster.dk{0}", Request.Url.PathAndQuery)" data-num-posts="2" data-width="375"></div>
                </div>

                <div class="block box right">
                    <h3>Top 5 mest populære online leje-film</h3>
                    <ol>
                        @foreach (Filmster.Data.Movie movie in ViewBag.Top5Movies)
                        {
                            <li>@Html.RouteLink(@movie.Title, movie.RouteValues())</li>
                        }
                    </ol>
                </div>
            </aside>
            <footer>
                filmster.dk samler alle Video On Demand tilbud i Danmark så du nemt kan finde den film du leder efter <a href="http://facebook.com/filmsterdk">facebook.com/filmsterdk</a>
            </footer>
		</div>
	</body>
</html>
