@using Filmster.Data
@using Filmster.Web.Utils
@model Movie

@{
    var vendors = Model.RentalOptions.Select(r => r.Vendor.Name).Aggregate((x, y) => x + ", " + y);
    var placeCount = Model.RentalOptions.Count;
}

<article class="movie">
    <img class="cover" src="@Model.RentalOptions.First().CoverUrl" alt="@Model.Title"/>
    <h3>@Html.RouteLink(Model.Title, Model.RouteValues())</h3>
    <div class="plot">@Model.Plot.Substring(0, Math.Min(Model.Plot.Length, 350))...</div>
    <div class="legend">@vendors@(placeCount > 1 ? " bedste pris:" : ", pris") @Model.RentalOptions.OrderBy(r => r.Price).First().Price kr.</div>
</article>