@using Filmster.Data
@using Filmster.Common
@using Filmster.Web.Utils
@model List<Movie>

@{
    ViewBag.Title = "Søgning på \"" + @ViewBag.query + "\"";
}

<section class="block">
    <p>
    @Html.Partial("_SearchForm", ViewBag.Query as string)
    </p>
</section>
<section class="block">
    <h2>Film som passer på søgningen "@ViewBag.Query"</h2>
    <div class="search-results"> 
        @foreach (var movie in Model)
        {
            var placeCount = movie.RentalOptions.Count;
            <article class="result">
            <img class="cover" src="@movie.RentalOptions.First().CoverUrl" width="100" alt="@movie.Title"/>
                <h3>@Html.RouteLink(movie.Title, movie.RouteValues())</h3>
                <div class="plot">@movie.Plot.ShortenString(".", 250)...</div>
                <div class="legend">Set @placeCount @(placeCount > 1 ? "steder" : "sted"), bedste pris: @movie.RentalOptions.OrderBy(r => r.Price).First().Price kr.</div>
            </article>
        }
    </div>
</section>